<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidtown.foodtruckgram">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/foodtruckgram"
        android:label="푸드트럭 GRAM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- Search View -->
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Search View -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <!--<activity android:name=".Activity.LoginActivity" />-->
        <activity android:name=".Activity.CustomerHomeActivity" />
        <activity
            android:name=".Activity.SellerHomeActivity"
            android:label="@string/title_activity_seller_home" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.SellerMenuEditActivity" />
        <activity
            android:name=".Activity.InfoDialogActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Activity.DetailActivity"></activity>
        <activity android:name=".Activity.FavoriteActivity" />
        <activity android:name=".Activity.CustomerCouponActivity" />

        <receiver
            android:name=".Activity.SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".Activity.FoodTruckLocationActivity" />
        <activity android:name=".Activity.CustomerOrderIdentifyDialog"></activity>
    </application>

</manifest>